<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.svr.friend-watchlist-sync</string>
  <key>WorkingDirectory</key><string>__REPO__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string><string>-lc</string>
    <string>cd __REPO__ &amp;&amp; npm run sync-friend-watchlists</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GOOGLE_SHEET_ID</key><string>__SHEET_ID__</string>
    <key>GOOGLE_SHEETS_CREDENTIALS</key><string>__CREDS__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key><integer>0</integer>
    <key>Hour</key><integer>9</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>StandardOutPath</key><string>__REPO__/.cache/friend-sync.log</string>
  <key>StandardErrorPath</key><string>__REPO__/.cache/friend-sync.log</string>
</dict>
</plist>
